<!DOCTYPE html>
<html>
    <head>
        <title>
            BMI Calculator
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    </head>

    <body>

        <h1 class="bmi-header">BMI Calculator</h1>

        <div class="main">

            <p class="please-enter">Please enter your weight and height.</p>

            <form class="pure-form" id="bmi-form" method="POST" action="/">
                Weight(kgs): <input type="number" name="weight" min="0" step="0.01" required><br>
                Height(cms): <input type="number" name="height" min="0" step="0.01" required><br>

                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </form>

        </div>

        <div class="result">
            <p>Your BMI : 
                {% if bmi %}
                    {{ '%0.1f' | format(bmi|float) }}
                {% endif %}
            </p><br>
        </div>

        <div class="reference">

            <p class="bmi-categories">BMI Categories:</p>

            <table class="pure-table" id="bmi-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>BMI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Underweight</td>
                        <td>BMI < 18.5</td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td>Normal weight</td>
                        <td>18.5 <= BMI <= 24.9</td>
                    </tr>
                    <tr>
                        <td>Overweight</td>
                        <td>25 <= BMI <= 29.9</td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td>Obesity</td>
                        <td>30 <= BMI</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>